@bms-layout-left: ~'@{bms-prefix}-layout-left';
.@{bms-layout-left} {
    flex: 0 0 256px;
    max-width: 256px;
    min-width: 256px;
    width: 256px;
    min-height: 100vh;
    border-right: 1px solid #e8e8e8;
    a {
        color: rgba(0, 0, 0, 0.65);
        text-decoration: none;
        &:hover {
            color: @color-blue;
        }
    }
    .ant-menu-item-selected a {
        color: @color-blue;
    }
}
