@bms-layout: ~'@{bms-prefix}-layout';
.@{bms-layout} {
    flex-direction: row;
    display: flex;
    &-right {
        overflow-x: hidden;
        min-height: 100vh;
        display: flex;
        flex: auto;
        flex-direction: column;
    }
    &-title {
        font-size: 1.5em;
    }
    &-intro {
        font-size: large;
        margin: 10px;
        padding: 20px;
        border: 1px solid #ccc;
    }
    &-content {
        ul {
            list-style-type: none;
        }
        li {
            display: inline-block;
            width: 33%;
            line-height: 40px;
        }
    }
    @keyframes landins-layout-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
